<div class="p-5 mb-4 bg-light rounded-3 mt-5">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alışveriş Sitesi</h1>
        <p style="color:firebrick; font-weight:bold" class="col-md-8 fs-4">Madonna'da buradan alıyor.</p>
        
      </div>
    </div>



@*

  Tekrar tekrar aynı tasarımı yapmak yerine, istediğimiz yerde bu tasarımı çağırıp kullanabiliriz.
  Metot mantığı
  
  *@

